[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = LexusLee
	email = lexuscyborg103@gmail.com
[includeIf "gitdir:~/Users/lexuslee/Cyborg103/Github/"]
    path = ~/Users/lexuslee/Cyborg103/Github/.gitconfig_include
